CPG.diagram.custom/src/cloudProvisioning/diagram/part/resources/xcprovml.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:simpleType name="NumVCPUs">
	<xs:restriction base="xs:integer">
	  <xs:minInclusive value="1"/>
	  <xs:maxInclusive value="32"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="Memory">
	<xs:restriction base="xs:double">
	  <xs:minInclusive value="1"/>
	  <xs:maxInclusive value="245"/>
	</xs:restriction>
  </xs:simpleType>
	  
	<xs:simpleType name="Storage">
		<xs:restriction base="xs:double">
		  <xs:minInclusive value="1"/>
		  <xs:maxInclusive value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	  
	<xs:simpleType name="CPUSize">
		<xs:restriction base="xs:string">
	      <xs:enumeration value="Small"/>
	      <xs:enumeration value="Medium"/>
	      <xs:enumeration value="Large"/>
	    </xs:restriction>
	</xs:simpleType>
	  
	<xs:simpleType name="NetworkPerformance">
		<xs:restriction base="xs:string">
	      <xs:enumeration value="VeryLow"/>
	      <xs:enumeration value="Low"/>
	      <xs:enumeration value="Moderate"/>
	      <xs:enumeration value="High"/>
	      <xs:enumeration value="TenGigabit"/>
	    </xs:restriction>
	</xs:simpleType>
	  
  <xs:simpleType name="OperatingSystem">
  	<xs:restriction base="xs:string">
  		<xs:enumeration value="WindowsServer2008"/>
		<xs:enumeration value="WindowServer2012"/>
		<xs:enumeration value="Ubuntu12_04_3"/>
		<xs:enumeration value="Ubuntu13_10"/>
		<xs:enumeration value="RHEL6_5"/>
		<xs:enumeration value="SUSE11"/>
		<xs:enumeration value="Windows7"/>
	</xs:restriction>
  </xs:simpleType>
  
	<xs:simpleType name="Architecture">
		<xs:restriction base="xs:string">
			<xs:enumeration value="x86"/>
		    <xs:enumeration value="x86_64"/>
	    </xs:restriction>
	</xs:simpleType>
  
  	<xs:simpleType name="Name">
  		<xs:restriction base="xs:string">
  			<xs:minLength value="1" />
  		</xs:restriction>
  	</xs:simpleType>
  
  <xs:element name="environments">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="environment" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="instances">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="instance" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="applications">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="application" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Name" type="Name" use="required"/>
                        <xs:attribute name="NumVCPUs" type="NumVCPUs" use="required" />
                        <xs:attribute name="CPUSize" type="CPUSize" use="required"/>
                        <xs:attribute name="NetworkPerformance" type="NetworkPerformance" use="required"/>
                        <xs:attribute name="Memory" type="Memory" use="required"/>
                        <xs:attribute name="Storage" type="Storage" use="required"/>
                        <xs:attribute name="OperatingSystem" type="OperatingSystem" use="required"/>
                        <xs:attribute name="Architecture" type="Architecture" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="Name" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>